@charset "UTF-8";

@font-face {
    font-family: 'Open Sans';
    src: url(../fontes/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Opens SansL';
    src: url(../fontes/Open_Sans/OpenSans-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Opens SansL';
}

html, body{
    height: 100%;
}

.logo{
    background-color: #212343;
    color: white;
    padding: 16px 0 16px 12%;
    font-size: 24px;
}

.first-container-main{
    
    padding-bottom: 30px;
    width: 100%;
    width: auto;
    background-size: cover;
    background-position: center;
    background-image: url(../imagem/main_bg.png);
}

.center{
    margin: 0 auto;
    width: 80%;
}

.list-container-main{
    background-color: #262b486c;
    max-width: 500px;
    width: 100%;
    padding: 30px 0;
    float: left;
    position: relative;
    top: 100px;
}

.list-container-main ul li{
    list-style-position: inside;
    color: rgba(255, 255, 255, 0.808);
    font-size: 17px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 0 12px 40px;
    
}

.form-container-main{
    position: relative;
    width: 100%;
    max-width: 380px;
    height: 530px;
    background-color: white;
    float: right;
    right: 30px;
    top: -15px;
    border: 10px solid rgba(204, 204, 204, 0.61);
    background-clip: content-box;
}
.form-container-main h2{
    text-align: center;
    margin: 18px 0;
    font-weight: bold;
    font-size: 22px;
    color: #b8b8b8;
}

.input-form{
    color: #b8b8b8;
}

.input-form span{
    display: block;
    margin: 18px 0 8px 10px;
    font-size: 17px;
    
}

.input-form input[type=text]{
    padding: 15px 0;
    margin-left: 10px;
    width: 340px;
    display: inline-block;
    color: #b8b8b8;
    font-size: 17px;
    outline: 0;
    border: 1px solid #cacaca;
    font-family: 'Opens Sansl';
}

.input-submit{
    text-align: center;
}

.input-submit input[type=submit]{
    width: 280px;
    display: inline-block;
    padding: 19px;
    background-color: #26284b;
    color: white;
    font-size: 14px;
}
.input-submit input[type=submit]:active{
    background-color: #191b33;
}

.clear{
    clear: both;
}

.second-container-main{
    width: 100%;
    background-color: #DDDDDD;
}

.second-center{
    width: 80%;
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0 30px 0;
    text-align: center;
}


.second-center h2{
    font-weight: lighter;
    padding: 10px 0;
    color: #26274F;
}

.second-center p{
    padding:20px 0;
    text-align: justify;
    color: #26274F;
    
}

.arrow{
    background-image: url(../imagem/arrow.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    position: relative;
    bottom: -50px;
    left: calc(50% - 20px);
    
}

.third-container-main{
    width: 100%;
    text-align: center;
    padding-top: 70px;
}

.third-container-main h2{
    font-weight: lighter;
    padding-bottom: 50px;
    color: #26274F;
}

.third-center{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.content{
    width: 33.3%;
    float: left;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 50px;
}

.content h3{
    color: #26274F;
    font-weight: lighter; 
    padding-top: 2px;   
    padding-bottom: 10px;
}

.content p{
    text-align: justify;
    color: #26274F;
}

.list{
    width: 100%;
    border: 1px solid rgb(145, 145, 145);
    margin-bottom: 50px;   
    display: inline-block;
}

.footer{
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-bottom: 50px;
    color: #666666;
}