@charset "UTF-8";

@font-face {
    font-family: 'Open Sans';
    src: url(../fontes/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Opens SansL';
    src: url(../fontes/Open_Sans/OpenSans-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.logo{
    background-color: #212343;
    color: white;
    font-family: 'Open Sansl';
    padding: 16px 0 16px 12%;
    font-size: 24px;
}

.container-main{
    
    padding-bottom: 60px;
    width: 100%;
    width: auto;
    background-size: cover;
    background-position: center;
    background-image: url(../imagem/main_bg.png);
}

.center{
    margin: 0 auto;
    width: 80%;
}

.list-container-main{
    background-color: #262b486c;
    max-width: 500px;
    width: 100%;
    padding: 30px 0;
    float: left;
    position: relative;
    top: 100px;
}

.list-container-main ul li{
    list-style-position: inside;
    color: rgba(255, 255, 255, 0.808);
    font-size: 17px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 0 12px 40px;
    
}

.form-container-main{
    position: relative;
    width: 100%;
    max-width: 380px;
    height: 530px;
    background-color: white;
    float: right;
    right: 30px;
    top: -15px;
    border: 10px solid rgba(204, 204, 204, 0.61);
    background-clip: content-box;
}
.form-container-main h2{
    text-align: center;
    margin: 18px 0;
    font-weight: bold;
    font-family: 'Opens Sansl';
    font-size: 22px;
    color: #b8b8b8;
}

.input-form{
    color: #b8b8b8;
    font-family: 'Opens Sansl';
}

.input-form span{
    display: block;
    margin: 18px 0 8px 10px;
    font-size: 17px;
    
}

.input-form input[type=text]{
    padding: 15px 0;
    margin-left: 10px;
    width: 340px;
    display: inline-block;
    color: #b8b8b8;
    font-size: 17px;
    outline: 0;
    border: 1px solid #cacaca;
    font-family: 'Opens Sansl';
}

.input-submit{
    text-align: center;
}

.input-submit input[type=submit]{
    width: 280px;
    display: inline-block;
    padding: 19px;
    background-color: #26284b;
    color: white;
    font-size: 14px;
}
.input-submit input[type=submit]:active{
    background-color: #191b33;
}


.clear{
    clear: both;
}

