@charset "UTF-8";

@font-face {
    font-family: 'Open Sans';
    src: url(../fontes/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Opens SansL';
    src: url(../fontes/Open_Sans/OpenSans-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.logo{
    background-color: #212343;
    color: white;
    font-family: 'Open Sansl';
    padding: 16px 0 16px 12%;
    font-size: 22px;
}

.container-main{
    padding-top: 80px;
    width: 100%;
    width: auto;
    background-size: cover;
    background-position: center;
    background-image: url(../imagem/main_bg.png);
}

.center{
    margin: 0 auto;
    width: 80%;
}

.section-container-main{
    background-color: #262b486c;
    max-width: 450px;
    width: 100%;
    padding: 30px 0;
    float: left;
}

.section-container-main ul li{
    list-style-position: inside;
    color: white;
    font-size: 16px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 0 12px 40px;
    
}
.clear{
    clear: both;
}